@import url(../blocks/content/content.css);
@import url(../blocks/page/page.css);
@import url(../blocks/refresh/refresh.css);
@import url(../blocks/status/status.css);
@import url(../blocks/display/_type_hidden/display_type_hidden.css);
@import url(../blocks/display/display.css);